<%#
  # encoding: utf-8
  #--
  #   Copyright (C) 2012 Gitorious AS
  #
  #   This program is free software: you can redistribute it and/or modify
  #   it under the terms of the GNU Affero General Public License as published by
  #   the Free Software Foundation, either version 3 of the License, or
  #   (at your option) any later version.
  #
  #   This program is distributed in the hope that it will be useful,
  #   but WITHOUT ANY WARRANTY; without even the implied warranty of
  #   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  #   GNU Affero General Public License for more details.
  #
  #   You should have received a copy of the GNU Affero General Public License
  #   along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #++
%>
<% @title = "#{path} in #{ref}" %>
<table class="table table-striped gts-tree-explorer">
  <thead>
    <tr>
      <th>File</th>
      <th>Changed</th>
      <th colspan="2">Last commit</th>
    </tr>
  </thead>
  <tbody>
    <% tree_entries(tree).each do |object| %>
      <tr>
        <td class="gts-name">
          <a href="<%= object_url(repository, ref, path, object) %>">
            <i class="icon <%= object_icon_class(object) %>"></i>
            <%= object[:name] %>
          </a>
        </td>
        <td></td>
        <td class="gts-sha"></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
